PORT="your-app-port"
GITHUB_WEBHOOK_SECRET="your-github-webhook-secret"
LINKEDIN_ACCESS_TOKEN="your-linkedin-access-token"
LINKEDIN_AUTHOR_URN="your-linkedin-author-urn"
DATABASE_URL="your-db-url-supabase"
DISCORD_BOT_TOKEN="your-discord-bot-token"
DISCORD_CHANNEL_ID="your-discord-channel-id"
GEMINI_API_KEY="your-gemini-api-key"
GEMINI_MODEL_NAME="your-gemini-model-name"